<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uta.gradhelp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.GradHelp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity
            android:name=".Activities.LoginRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BookAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragments.AdvisorHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AppointmentDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SessionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FeedbackActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>